<% provide :page_title, 'Admin Authors' %>
<% currently_at 'Authors' %>

<h1 class="text-center mb-4">Admin Authors</h1>

<%= pagination @pagy %>

<main class="card-body">
  <table class="table table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Author's ID</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @authors %>
    </tbody>
  </table>
</main>

<%= pagination @pagy %>