<% provide :page_title, @author.name %>
<% currently_at @author.name %>

<h1 class="text-center mb-4"><%= "#{@author.name}'s books:" %></h1>

<main class="card-body">
  <table class="table table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Book's ID</th>
        <th scope="col">Title</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @author.books %>
    </tbody>
  </table>
</main>