<%= provide :main_menu do %>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-2 border-bottom">
        <ul class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
            <%= link_to "Rubyrary", root_path,
                    class: "h4 nav-link px-2 link-dark" %>
        </ul>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-1">
            <li><%= nav_tab 'Home', root_path,
                          class: 'h4 nav-link px-2', current_page: current_page %></li>
        
        </ul>

        <div class="align-items-center col-md-2">
            <%= link_to 'Upload a book', new_book_path, class: 'btn btn-outline-success px-2' %>
            <button type="button" class="btn btn-outline-primary px-2">Login</button>
            <button type="button" class="btn btn-primary px-2">Sign-up</button>
        </div>
    </header>
<% end %>