<% provide :page_title, @book.title %>
<% currently_at @book.title %>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <% if @book.cover.attached? %>
                    <%= cl_image_tag @book.cover.key, :width=>600, :height=>700, :crop=>"fill" %>
                <% end %>            
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"><%= @book.title %></h1>
                    <p class="lead">
                        <%= sanitize @book.body %>
                    </p>
            </div>
        </div>
    </div>
</section>